<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập hệ thống</title>
    <!-- Bootstrap -->
    <link href="~/Public/admin/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/Public/admin/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Public/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="~/Public/admin/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="~/Public/admin/assets/styles.css" rel="stylesheet" media="screen">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
</head>
<body id="login">
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading" style="text-align:center;">Đăng Nhập</h2>
            <input type="text" class="input-block-level" name="username" placeholder="Tên truy cập">
            <input type="password" class="input-block-level" name="password" placeholder="Mật khẩu">
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Ghi nhớ
            </label>
            <button class="btn btn-large btn-primary" type="submit" id="btn-login">Đăng nhập</button>
        </form>

    </div> <!-- /container -->
    <script src="~/Public/admin/vendors/jquery-1.9.1.min.js"></script>
    <script src="~/Public/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Public/admin/js/karma.laclac.min.js"></script>
    <script src="~/Public/admin/js/sweetalert2.min.js"></script>
    <script src="~/Public/admin/js/toastr.min.js"></script>
</body>
</html>